$colorPrimario: orange;
$colorSecundario: blue;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  align-items: center;
}

h1, h2, h3 {
  margin: 20px;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

#itemStore {
  margin:15px;
}

#itemStoreContainer {
  display:flex;
}

#contador {
  display:flex;
}

//navBar
.navBar {
  ul {
    list-style-type:none;
    margin:1px;
    padding: 1px;
    overflow:hidden;
    background-color:$colorPrimario;
    li {
      float: left;
      a {
        display:block;
        color:white;
        text-align: left;
        padding:15px 17px;
        text-decoration:none;
      }
      a:hover{
        background-color:$colorSecundario;
      }
    }
  }
}
.carritoWidget {
  margin:10px;
  float: right;
}

///ARTICULOS
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.card {
  flex: 0 0 200px;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
} 

button {
  padding: 5px;
}