$colorPrimario: orange;
$colorSecundario: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
  text-align: center;
  align-items: center;
}

header {
  background-color: $colorPrimario;
  padding: 20px;

  nav {
      a {
          color: black;
          text-decoration: none;
      }
  }
}

main {
  background-color: gray;
  height: 100vh;
  
}

footer {
  background-color: $colorPrimario;
  padding: 20px;
}

#presentacion {
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  h1 {
    padding:20px;
  }
  h2 {
    padding:20px;
  }
  P {
    padding:20px;
  }
}