@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

$colorPrimario: #FF8D01;
$colorSecundario: white;
$colorTerciario: #DB00FA;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  overflow-x: hidden;
  font-family: 'Fredoka', sans-serif;
  text-align: center;
  align-items: center;
}

h1, h2, h3 {
  margin: 15px;
}
p {
  margin:5px;
}
main {
  padding:5px;
}

footer {
  padding-bottom: 15px;
  padding-top:2px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $colorPrimario;
  color: white;
  text-align: center;
}

#itemStore {
  margin:15px;
}

#itemStoreContainer {
  display:flex;
}

#contador {
  display:flex;
  div{
    padding:10px 8px 0px 8px;
    border-radius: 5px;
    background-color:#DAF0E9;

  }
  button {
    padding:5px;
  }
}

//navBar
.navBar {
  ul {
    list-style-type:none;
    overflow:hidden;
    background-color:$colorPrimario;
    li {
      float: left;
      a {
        display:block;
        color: black;
        text-align: center;
        padding:15px 17px;
        text-decoration:none;
      }
      a:hover{
        background-color:$colorSecundario;
      }
    }
  }
}

///ARTICULOS
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.card {
  flex: 0 0 200px;
  margin: 8px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
} 

button {
  background-color:$colorTerciario;
  color: $colorSecundario;
  padding: 3px;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
}

#containerDarkToggle {
  padding:10px;
  background-color:darkgray;
}

img {
  max-width: 180px;
  max-height: 180px;
}

// estilos de itemDetail
.container_itemDetail { display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 1.7fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "itemDetail__titulo itemDetail__titulo"
    "itemDetail__img itemDetail__descripcion";

} .itemDetail__titulo { grid-area: itemDetail__titulo;

} .itemDetail__img { grid-area: itemDetail__img;
  text-align:right;
  margin:20px;

} .itemDetail__descripcion { grid-area: itemDetail__descripcion;
  text-align: left;
  margin: 50px 0px 0px 20px;
  
}
//estilos de cart
.container_cart {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "cart__titulo cart__titulo"
    "cart__list-products cart__form";
}

.cart__titulo { grid-area: cart__titulo; }

.cart__list-products { grid-area: cart__list-products;
padding: 0px 20px 0px 20px; }

.cart__form { grid-area: cart__form; 
padding: 0px 20px 0px 20px; }

// tabla de productos carrito
table {
  border-collapse: collapse;
  width: 100%;
  thead{
    tr{
      th{
        background-color:$colorPrimario;
        color:$colorSecundario;
        padding:5px;
      }
    }
  }
  tbody{
    tr{
      td{
        padding:5px;
        border: 1px solid #ccc;
      }
    }	
  }
}

//imagen de producto del carrito
.imgCarrito {
  max-width: 80px;
  max-height: 80px;
}

.totalCartText {
  background-color:$colorPrimario;
  color:$colorSecundario;
  padding:5px;
  border-radius: 5px;
  display: inline-block;
  margin: 5px;
}

.formItems{
  margin:10px;
}

.formContainer{
  background-color: #ccc;
  box-shadow: 5px 5px 10px 0px  rgba(0,0,0,0.3);
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 15px;
}